langchain==0.0.353
langchain-experimental==0.0.40
langchain-google-genai==0.0.5
python-dotenv
# discord.py==2.3.1
# git+https://github.com/Rapptz/discord.py
py-cord==2.4.1
google-cloud==0.34.0
google-cloud-speech==2.23.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.0
google-api-python-client==2.86.0
wikipedia==1.4.0
openai==1.2.3
python-weather==1.0.3
arxiv==1.4.7
pytz==2023.3
pillow==10.1.0
pydub==0.25.1
sympy==1.12
torchaudio==2.1.2
elevenlabs==0.2.27
rfc3986==2.0.0
wavelink==3.1.2
discord-ext-voice-recv==0.4.2a145